.input-container{
    display: flex;
    flex-direction: column;
    text-align: start;
    flex: 1;
    padding: 2%;
    margin-bottom: 5%;
}



.createTable {
    border-spacing: 15px;
    padding: 5px;
    table-layout: fixed; 
}
.createTd {
    padding: 5px;
}
.divContainer {
    word-wrap: break-word;
    display:inline-block;
    border-radius: 8px;
    background-color: #dfdfdf;
    max-height:50px;
    max-width:150px;
    overflow-y: auto;
    padding: 5px;
}
.removeableBtn { 
    background-color: transparent;
    background-clip: padding-box;
    border: none;
    overflow: hidden;
    outline:none;
    cursor:pointer;
}
.removableCell {
    max-width:120px;
    background-color: transparent;
    background-clip: padding-box;
    overflow-y: scroll;
    border: none;
    overflow: hidden;
    outline:none;
}
.btn {
    background-color: #dfdfdf;
    border: none;
    color: black;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    cursor:pointer;
    font-family: verdana;
}
.btnBig {
    background-color: #dfdfdf;
    border: none;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    cursor:pointer;
    font-family: verdana;
}
.smallText {
    font-size: 13px;
    font-family: verdana;
}