<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css_files/create_user_table.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css_files/navigation_bar.css') }}">
</head>

<body>
    <div class="navbar">
        <a href="/">Recipe Finder</a>
        <a href="{{ url_for('find_recipe') }}">Search for recipes</a>
        <div class="login_logout">
        {% if userID != None %}
            <a href="{{ url_for('logout') }}">Sign out</a>
        {% else %}
            <a href="/sign-in">Sign in</a>
        {% endif %}
        </div>
    </div>
    <br/>
    <br/>


    Recipe name: {{ name }}<br/>
    Recipe description: {{ description }}<br/>
    Recipe number of votes: {{ num_votes }}<br/>
    
    Total ingredients ({{ num_ingredients }}):
    {% for ingredient in ingredients %}
        {% if loop.index == ingredients|length %}
            {{ingredient}}
        {% else %}
            {{ingredient}}, 
        {% endif %}
    {% endfor %}<br/>


</body>

<script type="text/javascript" src="{{ url_for('static', filename='js_files/find_recipe.js')}}"></script>

</html>